.artist-info {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  color: white;
  background: linear-gradient(120deg, #1db954, #191414);

  img {
    box-shadow: 
      0 1px 1px rgba(0, 0, 0, 0.15),
      0 2px 2px rgba(0, 0, 0, 0.15),
      0 4px 4px rgba(0, 0, 0, 0.15),
      0 8px 8px rgba(0, 0, 0, 0.15),
      0 16px 16px rgba(0, 0, 0, 0.15),
      0 32px 32px rgba(0, 0, 0, 0.15);

    max-width: 40%;
  }
}

.artist-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 20px;
  
  h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -.04em;
    margin-bottom: 15px;
  }

  p {
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
}

.albums-container {
  background-color: rgb(26, 25, 25);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  // overflow-y: scroll;
  margin-top: 15px;
  padding-bottom: 15px;
  padding: 0 25px;
  padding-left: 0;
}

.single-album-container {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  img {
    padding-bottom: 10px;
  }

  p {
    padding-top: 10px;
  }
}

.link, .link:visited {
  text-decoration: none;
  color: white;
}