.main-wrapper {
  background-color: rgb(26, 25, 25);
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

// .main-header {
//   background-color: pink;
//   color: black;
//   height: 150px;
// }

.main-body {
  width: 100%;
  background-color: sandybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists-index, .albums-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.artists-index {
  background-color: lightblue;
}

.albums-index {
  background-color: lightgreen;
}

#artist-photo {
  height: 200px;
  width: 200px;
}