.playlist-show-container {
  background-color: rgb(26, 25, 25);
  color: white;
  // height: 80vh;
  overflow-y: scroll;
  margin-top: 70px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  // padding-left: 20px;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 600;
    margin-bottom: 50px;
  }

  li {
    padding-bottom: 15px;
  }
}

.playlist-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  color: white;
  background: linear-gradient(120deg, #1db954, #191414);
}

.playlist-art {
  width: 230px;
  height: 230px;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15),
    0 32px 32px rgba(0, 0, 0, 0.15);

  #playlist-default {
    color: black;
    font-size: 70px;
  }

  ul {
    width: 230px;
    height: 230px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 0px;

    box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15),
    0 32px 32px rgba(0, 0, 0, 0.15);

    li {
      padding: 0px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.playlist-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 20px;

  p {
    margin-right: 5px;
    margin-left: 5px;
  }

  p:first-child {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  p:last-child {
    font-weight: 400;
  }

  input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -.04em;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
  }

  input:hover {
    background-color: rgba(128, 128, 128, 0.685);
  }

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
  }

  #edit-playlist, #delete-playlist {
    font-size: 12px;
    padding-bottom: 2px;
  }
}

.playlist-tracks-header {
  color: white;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  justify-content: flex-start;
  padding: 0 25px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 15px;

  p:first-child {
    margin-left: 13px;
    width: 40px;
  }

  p:nth-child(2) {
    width: 410px;
  }

  p:nth-child(3) {
    width: 290px;
  }

  p:nth-child(4) {
    width: 280px;
  }

  p:last-child {
    width: 100px;
    display: flex;
    justify-content: flex-start;
  }
}

.playlist-track-id {
  width: 40px;
}

.playlist-track-name {
  color: white;
  width: 350px;
}

.playlist-album-art {
  width: 50px;
  margin-right: 20px;
}

.playlist-album-name {
  width: 300px;
}

.playlist-artist-name {
  width: 280px;
}

.playlist-track-length {
  width: 100px;
}

.playlist-track-delete {
  cursor: pointer;
}
