.search-header {
  margin-top: 70px;
  padding-top: 30px;
  padding-left: 15px;
}

.search-bar {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 16px;
  text-align: start;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  outline: none;
  width: 364px;
  height: 40px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 30px;
}

.search-icon {
  font-size: 23px;
  color: rgb(84, 84, 84);
  position: relative;
  right: -40px;
  top: 4px;
}

.search-tracks-header {
  color: white;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  justify-content: flex-start;
  padding: 0 25px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 40px;

  p:first-child {
    margin-left: 13px;
    width: 40px;
  }

  p:nth-child(2) {
    width: 410px;
  }

  p:nth-child(3) {
    width: 290px;
  }

  p:nth-child(4) {
    width: 280px;
  }

  p:last-child {
    width: 100px;
    display: flex;
    justify-content: flex-start;
  }
}

#search-track-container {
  padding: 0px;
}

#search-track-button {
  width: 35px;
}

.search-album-art {
  width: 50px;
}

.search-track-name {
  color: white;
  // font-size: 16px;
}

.search-album-name {

}

.search-artist-name {

}

.search-track-length {
  color: white;
}
