.signed-in-home-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

#sidebar-logo {
  width: 80%;
  position: absolute;
  top: 30px;
  left: 15px;
  right: 10px;
  z-index: 3;
}

#artist-photo {
  height: 200px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  margin-right: 250px;
  position: fixed;
  background-color: black;
  z-index: 2;
}

.header-bar-container {
  // background-color: transparent;
  // background: linear-gradient(transparent,rgba(0,0,0,.5));
  background-image: linear-gradient(black, rgb(24, 24, 24));
  color: white;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  height: 60px;
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  top: 0;
  left: 15%;
  z-index: 2;
  opacity: 0.5;
}

.main-container {
  background-color: rgb(26, 25, 25);
  width: 85%;
  position: absolute;
  right: 0;
  top: 70px;
  padding-bottom: 100px;
}

.webplayer-container {
  background-color: #181818;
  border-top: 1px solid #282828;
  height: 90px;
  width: 100%;
  min-width: 620px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}