.home-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.header-container {
  background-color: pink;
  color: black;
  height: 150px;
}

.main-container {
  width: 84%;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 25, 25);
  overflow-y: scroll;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 16px;
}

.sidebar-container {
  background-color: black;
  color: white;
  width: 16%;
  min-width: 232px;
}

.webplayer-container {
  background-color: #181818;
  border-top: 1px solid #282828;
  height: 90px;
  width: 100%;
  min-width: 620px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}