.signed-in-home-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 2;

  #sidebar-logo {
    width: 80%;
    position: absolute;
    top: 30px;
    left: 15px;
    right: 10px;
    z-index: 3;
  }

  .sidebar-home, .sidebar-library, .sidebar-create {
    display: flex;
    left: 25px;

    :hover {
      background-color: rgb(59, 59, 59);
      transition-duration: .2s;
      transition-timing-function: linear;
      padding: 8px;
      border-radius: 10px;
    }
  
    .link, .create-wrapper{
      display: flex;
      align-items: center;
    }

    .create-wrapper {
      left: 25px;
    }
    
    #home-icon, #library-icon, #create-icon {
      color: white;
      margin-right: 15px;
      font-size: 22px;
    }

    #library-icon {
      font-size: 20px;
      padding-right: 2px;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      color: white;
    }
  }

  .sidebar-home {
    position: absolute;
    top: 150px;
  }

  // .sidebar-library {
  //   position: absolute;
  //   top: 200px;
  // }

  .create-wrapper {
    position: absolute;
    // top: 250px;
    top: 200px;
    cursor: pointer;
    padding-left: 1px;
    
    p {
      margin-left: 4px;
    }
  }

  .sidebar-playlists {
    font-size: 14px;
  }
}

.sidebar-playlist-wrapper {
  border-top: white 1px solid;
  padding-top: 30px;
  width: 11%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  // top: 330px;
  top: 250px;
  left: 25px;

  li {
    margin-bottom: 25px;
  }

  li:hover {
    background-color: rgb(59, 59, 59);
    transition-duration: .2s;
    transition-timing-function: linear;
    padding: 10px;
    border-radius: 10px;
  }
}

.header-bar-container {
  background: linear-gradient(120deg, #1db954, #191414);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  top: 0;
  left: 15%;
  z-index: 2;
  opacity: 0.8;
}

.header-bar-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  padding-right: 30px;
  width: 100px;
}

.header-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: relative;
  display: inline-block;
  align-items: center;
  background-color: black;
  color: white;
  border: 1px solid black;
  outline: none;
  width: 100px;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 18px;
  margin: 0 auto;
  z-index: 2;
  cursor: pointer;
}

.header-logout {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: absolute;
  background-color: grey;
  color: white;
  border: 1px solid grey;
  outline: none;
  transition: all 1s linear;
  top: 40px;
  right: 30px;
  height: 28px;
  width: 100px;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 1;
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-container {
  background-color: rgb(26, 25, 25);
  width: 85%;
  position: absolute;
  right: 0;
  // padding-bottom: 100px;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.webplayer-container {
  background-color: #181818;
  border-top: 1px solid #282828;
  // height: 90px;
  height: 10vh;
  width: 100%;
  min-width: 620px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.artists-index, .albums-index, .playlists-index {
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  color: white;

  h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.04em;
    margin-bottom: 15px;
  }
}

.artists-index {
  margin-top: 70px;
}

.artists-index:hover, .albums-index:hover, .playlists-index:hover {
  background-color: rgb(59, 59, 59);
  transition-duration: .2s;
  transition-timing-function: linear;
}

.artists-index-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.albums-index-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.single-artist-container {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  #artist-photo {
    height: 200px;
  }

  img {
    padding-bottom: 10px;
    max-height: 300px;
  }
}

.single-artist-container:hover {
  background-color: rgba(26, 25, 25, 0.61);
  transition-duration: .2s;
  transition-timing-function: linear;
  border-radius: 8px;
}
