// splash photo from https://unsplash.com/photos/KoKAXLKJwhk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
// github icon from <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
// linkedin icon from <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

.splash-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.splash-header img {
  padding-left: 20px;
  height: 40px;
}

.splash-header img:hover {
  cursor: pointer;
}

.splash-header-links {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

.splash-header-links #signup, #signin {
  color: white;
  text-decoration: none;
  padding-right: 30px;
}

.splash-main {
  display: flex;
  justify-content: center;
}

.splash-main {
  background-image: image_url('splash_praise.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
  top: 54px;
  height: 92vh;
  width: 100%;
  opacity: 0.8;
}

.splash-txt {
  font-size: 100px;
  color:white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.splash-footer {
  background-color: black;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.splash-footer img {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.splash-footer img:hover {
  cursor: pointer;
}
