.single-track-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.single-track-container:hover {
  background-color: rgb(59, 59, 59);
  transition-duration: .2s;
  transition-timing-function: linear;
}

.track-button {
  margin-right: 15px;
}

.track-button:hover {
  cursor: pointer;
}

.track-name {
  color: white;
  width: 225px;
  padding-left: 15px;
}

.track-length {
  color: white;
  position: absolute;
  right: 40px;
}