.home-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
}

.home-container {
  background-color: green;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.main-container {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  background-color: rgba(4, 68, 36, 0.137);
  width: 15%;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  background-color: pink;
  font-size: 16px;
  overflow-y: scroll;
}

.album-photo {
  background-color: rgb(73, 3, 3);
}

.single-track-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.track-name {
  color: black;
  width: 225px;
  padding-left: 15px;
}

.track-length {
  color: black;
  padding-left: 0;
}

audio {
  padding-right: 15px;
}

.webplayer-container {
  background-color: #181818;
  border-top: 1px solid #282828;
  height: 90px;
  width: 100%;
  min-width: 620px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
