.shuffle-on, .loop-on {
  color: #1ed760;
}

.webplayer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  color: white;
  overflow-x: scroll;
}

.webplayer-info {
  display: flex;
  align-items: center;
  min-width: 400px;
  width: 30%;
  position: absolute;
  left: 0;
  margin-left: 25px;
}

.webplayer-album {
  width: 56px;
  height: 56px;
  background-color: #181818;
}

.webplayer-album img {
  width: 56px;
  height: 56px;
}

.webplayer-details {
  display: flex;
  flex-direction: column;
}

.webplayer-track-name {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}

.webplayer-artist {
  margin-left: 15px;
  font-size: 14px;
}

.controls-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 370px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.control-buttons-left, .control-buttons-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.control-buttons-left {
  justify-content: flex-end;
}

.control-buttons-right {
  justify-content: flex-start;
}

.control-buttons-left p {
  margin-left: 20px;
}

.control-buttons-right p {
  margin-right: 20px;
}

.play-pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.play-pause-button:hover {
  transform: scale(1.1) perspective(0.1px);
  cursor: pointer;
}

.seekbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

.volume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  position: absolute;
  right: 0px;
  margin-right: 50px;
}

.volume-container p {
  margin-right: 20px;
}

.seekbar-container input[type=range], .volume-container input[type=range] {
  border: solid 1px #4e4e4e;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 25px;
  height: 4px;
  background-color: rgb(184, 183, 183);
  outline: none;
  width: 100%;
}

.seekbar-container input[type=range] {
  min-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.seekbar-container input[type=range]:hover, .volume-container input[type=range]:hover {
  cursor: pointer;
} 

audio {
  position: fixed;
  right: 0;
}